body {
    background-color: aquamarine;
    padding-left: 1pc;
    border-style: groove;
    /* outline-style: groove; */
}

h1 {
    border: blueviolet;
    border-style: double;
}
.allDone {
    background-color: pink;
    text-decoration: line-through;
}

.container {
    color: black;
    padding-top: 10;
}


button {

    background-color: greenyellow;
    color: #000;
    /* font-weight: 70; */
    padding: 10px 10px;
    font-size: 14px;
    border: .5px solid gray;
}

